/* CSS media query
   First rule defines target device, second - desktop in different sizing. */

/* Desktop */
@media (min-device-width: 1000px) and (min-width: 900px) {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: monospace;
        display: flex;
        justify-content: center;
    }

    .screen-type:before {
        position: fixed;
        right: 0;
        top: 0;
        color: red;
        content: 'D'; /* Desktop */
    }

    .main {
        border: 1px solid lightgray;
        width: 900px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .new-task {
        border: 1px solid lightpink;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }

    .new-task-input {
        border: 1px solid deeppink;
        padding: 5px;
        font-size: 22px;
        min-height: 38px;
    }

    .add-new-task-button {
        border: 1px solid lightgrey;
        width: 90px;
        text-align: center;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .add-new-task-button-image {
        background-image: url("/images/add.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .add-new-task-button-label {
        flex: 1;
    }

    .task-list {
        display: flex;
        flex-direction: column;
    }

    .task {
        border: 1px solid gray;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
    }

    .task-progress {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightpink;
        width: 30px;
    }

    .task-progress-checkbox-checked {
        background-color: lightgreen;
    }

    .task-description {
        border: 1px solid lightblue;
        font-size: 22px;
        padding: 0 5px;
        flex: 4;
        align-items: center;
        outline: none;
    }
    
    .task-description.editing {
        border: 2px solid yellow;
    }

    .task-buttons {
        border: 1px solid lightgrey;
        flex: 1;
        display: flex;
        flex-direction: row;
        max-height: 150px;
    }

    .task-edit {
        display: flex;
        flex: 1;
    }
    
    .task-edit-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-save-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-cancel-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-button,
    .task-edit-save-button,
    .task-edit-cancel-button,
    .task-remove-button {
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .task-remove-button {
        display: flex;
        flex: 1;
    }

    .task-remove-button-image {
        background-image: url("/images/remove.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .task-remove-button-label {
        flex: 1;
    }

    .task-drag-handle {
        border: 1px solid lightgrey;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .task-drag-handle-image {
        background-image: url("/images/drag.png");
        width: 15px;
        height: 13px;
        max-width: 15px;
    }

    .task-drag-ghost {
        border: 2px solid red;
    }

    .task-shift {
        display: none;
    }
}