/* CSS media query
   First rule defines target device, second - desktop in different sizing. */

/* Desktop */
@media (min-device-width: 1000px) and (min-width: 900px) {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: monospace;
        display: flex;
        justify-content: center;
    }

    .screen-type:before {
        position: fixed;
        right: 0;
        top: 0;
        color: red;
        content: 'D'; /* Desktop */
    }

    .main {
        border: 1px solid lightgray;
        width: 900px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .go-tasks {
        border: 1px solid lightgrey;
        width: 90px;
        height: 30px;
        justify-content: center;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .go-projects {
        border: 1px solid lightgrey;
        width: 90px;
        height: 30px;
        justify-content: center;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .add-button {
        border: 1px solid lightgrey;
        width: 130px;
        text-align: center;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .add-button-image {
        background-image: url("/images/add.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .add-button-label {
        flex: 1;
    }
    
    .cancel-button {
        display: flex;
        width: 90px;
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    /* Task List */
    
    .main-tasks .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .new-task {
        border: 1px solid lightpink;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .new-task div + div {
        margin-top: 5px;
    }
    
    .new-task-input {
        border: 1px solid red;
        padding: 10px;
        font-size: 22px;
        min-height: 38px;
    }

    .new-task-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
    }
    
    .new-task select.projects {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
    }
    
    select.projects {
        width: 110px;
        border: 1px solid lightgray;
        padding: 5px;
    }
    
    .task-list {
        display: flex;
        flex-direction: column;
    }

    .task {
        border: 1px solid gray;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
    }
    
    .task.done {
        opacity: 0.4;
    }

    .task.done .task-properties-description {
        text-decoration: line-through;
    }

    .task-progress {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightpink;
        width: 30px;
    }

    .task-progress-checkbox-checked {
        background-color: lightgreen;
    }
    
    .task-properties {
        border: 1px solid #add8e6;
        flex: 4;
        flex-direction: column;
        padding: 5px;
    }
    
    .task-properties-project-name {
        font-size: 12px;
        color: gray;
        position: relative;
        top: -3px;
        height: 9px;
    }
    
    .task-properties-description {
        font-size: 22px;
        outline: 0;
    }
    
    .task.editing > .task-properties {
        border: 2px solid yellow;
    }

    .task-buttons {
        border: 1px solid lightgrey;
        flex: 1;
        display: flex;
        flex-direction: row;
        max-height: 100px;
    }
    
    .task.editing > .task-buttons {
        flex: 2;
    }
    
    .task-edit {
        display: flex;
        flex: 1;
    }
    
    .task-edit-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-save-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-cancel-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-button,
    .task-edit-save-button,
    .task-edit-cancel-button,
    .task-remove-button {
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .task-remove-button {
        display: flex;
        flex: 1;
    }

    .task-remove-button-image {
        background-image: url("/images/remove.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .task-remove-button-label {
        flex: 1;
    }

    .task-drag-handle {
        border: 1px solid lightgrey;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .task-drag-handle-image {
        background-image: url("/images/drag.png");
        width: 15px;
        height: 13px;
        max-width: 15px;
    }

    .task-drag-ghost {
        border: 2px solid red;
        box-shadow: 0 0 5px red;
    }
    
    /* Project List */
    
    .main-projects .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .new-project {
        border: 1px solid lightpink;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .new-project-properties {
        padding: 10px;
        font-size: 17px;
    }

    .new-project-properties-item + .new-project-properties-item {
        margin-top: 10px;
    }
    
    .new-project-properties-item-name {
        width: 85px;
        display: inline-block;
    }
    
    .new-project-properties-item-value {
        border: 1px solid red;
        display: inline-block;
        width: 300px;
        padding: 7px;
        font-size: 22px;
    }
    
    .new-project-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
    }
    
    .project-list {
        display: flex;
        flex-direction: column;
    }

    .project {
        border: 1px solid gray;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
    }
    
    .project-properties {
        flex: 4;
        padding: 5px;
    }
    
    .project-properties > div + div {
        margin-top: 3px;
    }
    
    .project.editing .project-properties > div + div {
        margin-top: 10px;
        font-size: 22px;
    }
    
    .project.editing .project-properties > div + input {
        margin-top: 10px;
    }
    
    .project-properties-value.name {
        align-items: center;
        font-size: 22px;
        padding: 0 5px;
        margin-bottom: 5px;
    }
    
    .project-properties-value.tags {
        font-size: 14px;
        padding: 0 5px;
        color: gray;
    }
    
    .project-properties input.color {
        height: 40px;
    }
    
    .project.editing > .project-properties {
        border: 2px solid yellow;
    }

    .project-buttons {
        border: 1px solid lightgrey;
        flex: 1;
        display: flex;
        flex-direction: row;
        max-height: 150px;
    }
    
    .project-edit {
        display: flex;
        flex: 1;
    }
    
    .project-edit-button {
        display: flex;
        flex: 1;
    }
    
    .project-edit-save-button {
        display: flex;
        flex: 1;
    }
    
    .project-edit-cancel-button {
        display: flex;
        flex: 1;
    }
    
    .project-edit-button,
    .project-edit-save-button,
    .project-edit-cancel-button,
    .project-remove-button {
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .project-remove-button {
        display: flex;
        flex: 1;
    }

    .project-remove-button-image {
        background-image: url("/images/remove.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .project-remove-button-label {
        flex: 1;
    }
}