/* CSS media query
   First rule defines target device, second - desktop in different sizing. */

/* Smartphone */
@media (max-device-width: 900px),
(min-device-width: 1000px) and (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: monospace;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
    }

    .screen-type:before {
        position: fixed;
        right: 0;
        top: 0;
        color: red;
        content: 'S'; /* Smartphone */
    }
    
    .main {
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    a.logout {
        color: gray;
        text-decoration: initial;
        text-transform: lowercase;
        position: absolute;
        bottom: -35px;
        right: 5px;
        padding: 10px 0;
    }

    .action-bar button {
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .go-tasks {
        width: 90px;
        justify-content: center;
    }
    
    .go-projects {
        width: 90px;
        justify-content: center;
    }

    .add-button {
        width: 130px;
        text-align: center;
    }

    .add-button-image {
        background-image: url("/images/add.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .add-button-label {
        flex: 1;
    }
    
    .cancel-button {
        display: flex;
        width: 90px;
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .main-tasks .filter {
        position: relative;
        margin-top: 5px;
        padding-bottom: 30px;
        font-size: 18px;
        background-color: #F1F1F1;
        border: 1px solid lightgray;
    }

    .main-tasks .filter .filter-row {
        margin: 30px 0 30px;
    }

    .main-tasks .filter select {
        font-size: 18px;
        position: relative;
        top: 1px;
        max-width: 130px;
    }

    .main-tasks .filter .status {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: gray;
    }
    
    /* Task List */
    
    .main-tasks .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 50px;
    }
    
    .new-task {
        border: 1px solid lightpink;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }

    .new-task-input {
        border: 1px solid deeppink;
        padding: 10px;
        font-size: 25px;
        flex: 8;
        min-height: 38px;
    }
    
    .new-task-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
    }
    
    .new-task select.projects {
        display: flex;
        height: 100%;
    }
    
    select.projects {
        width: 110px;
        border: 1px solid lightgray;
        padding: 5px;
    }

    .task-list {
        display: flex;
        flex-direction: column;
    }

    .task {
        border: 1px solid gray;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        min-height: 70px;
    }
    
    .task.done {
        opacity: 0.4;
    }

    .task-progress {
        border: 1px solid lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightpink;
        width: 50px;
        height: 50px;
    }

    .task-progress-checkbox-checked {
        background-color: lightgreen;
    }
    
    .task-properties {
        border: 1px solid #add8e6;
        flex: 4;
        flex-direction: column;
        padding: 5px;
        overflow: hidden;
        position: relative;
        max-height: 95px;
        transition: max-height 0.3s;
        transition-timing-function: ease-out;
    }
    
    .task-properties-project-name {
        font-size: 12px;
        color: gray;
        display: inline-block;
    }

    .task-properties-progress-doneon {
        font-size: 12px;
        color: gray;
        display: inline-block;
    }
    .task-properties-progress-doneon:before {
        content: ' - ';
    }

    .task-properties-description {
        font-size: 25px;
        outline: none;
        word-wrap: break-word;
        line-height: 34px;
    }

    .task-properties-expand,
    .task-properties-collapse {
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        width: 100px;
        height: 100%;
        padding-left: 40px;
        background: linear-gradient(
            -90deg, 
            rgba(0, 0, 0, 0.2), 
            rgba(255, 255, 255, 0));
    }

    .task.editing > .task-properties {
        border: 2px solid yellow;
    }

    .task-buttons {
        border: 1px solid lightgrey;
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        min-height: 50px;
    }

    .task-edit {
        display: flex;
        flex: 3;
    }
    
    .task-edit-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-save-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-cancel-button {
        display: flex;
        flex: 1;
    }
    
    .task-edit-button,
    .task-edit-save-button,
    .task-edit-cancel-button,
    .task-remove-button,
    .task-remove-confirm-button,
    .task-remove-cancel-button {
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .task-remove {
        display: flex;
        flex: 1;
    }
    
    .task-remove-button {
        border: 1px solid lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .task-remove-button-label {
        display: none;
    }

    .task-remove-button-image {
        background-image: url("/images/remove.png");
        width: 26px;
        height: 26px;
        max-width: inherit;
    }

    .task-remove-confirm-button {
        display: flex;
        flex: 1;
    }

    .task-remove-cancel-button {
        display: flex;
        flex: 1;
    }

    .task-drag-handle {
        border: 1px solid lightgrey;
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .task-drag-handle-image {
        background-image: url("/images/drag.png");
        width: 15px;
        height: 13px;
        max-width: 15px;
    }

    .task-drag-ghost {
        border: 2px solid red;
        box-shadow: 0 0 5px red;
    }

    /* Project List */
    
    .main-projects .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 50px;
    }
    
    .new-project {
        border: 1px solid lightpink;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .new-project-properties {
        padding: 10px;
        font-size: 17px;
    }

    .new-project-properties-item + .new-project-properties-item {
        margin-top: 10px;
    }
    
    .new-project-properties-item-name {
        width: 85px;
        display: inline-block;
    }
    
    .new-project-properties-item-value {
        border: 1px solid red;
        display: inline-block;
        width: 100%;
        padding: 10px;
        font-size: 25px;
    }
    
    .new-project-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 50px;
    }
    
    .project-list {
        display: flex;
        flex-direction: column;
    }

    .project {
        border: 1px solid gray;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .project-properties {
        flex: 4;
        padding: 5px;
    }
    
    .project-properties > div + div {
        margin-top: 3px;
    }
    
    .project.editing .project-properties > div + div {
        margin-top: 20px;
        font-size: 22px;
    }
    
    .project.editing .project-properties > div + input {
        margin-top: 20px;
    }
    
    .project-properties-value.name {
        align-items: center;
        font-size: 25px;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    
    .project-properties-value.tags {
        font-size: 14px;
        padding: 0 5px;
        color: gray;
    }
    
    .project-properties input.color {
        height: 40px;
    }
    
    .project.editing > .project-properties {
        border: 2px solid yellow;
    }

    .project-buttons {
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: row;
        min-height: 50px;
    }
    
    .project-edit {
        display: flex;
        flex: 1;
    }
    
    .project-edit-button {
        display: flex;
        flex: 1;
    }
    
    .project-edit-save-button {
        display: flex;
        flex: 1;
    }
    
    .project-edit-cancel-button {
        display: flex;
        flex: 1;
    }
    
    .project-edit-button,
    .project-edit-save-button,
    .project-edit-cancel-button,
    .project-remove-button,
    .project-remove-confirm-button,
    .project-remove-cancel-button {
        border: 1px solid lightgrey;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .project-remove {
        display: flex;
        flex: 1;
    }
    
    .project-remove-button {
        display: flex;
        flex: 1;
    }

    .project-remove-button-image {
        background-image: url("/images/remove.png");
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex: 1;
    }

    .project-remove-button-label {
        flex: 1;
    }

    .project-remove-confirm-button {
        display: flex;
        flex: 1;
    }

    .project-remove-cancel-button {
        display: flex;
        flex: 1;
    }
}