* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.screen-type:before {
     position: fixed;
     right: 0;
     top: 0;
     color: red;
     content: 'D'; /* Desktop */
 }

.main {
    border: 1px solid lightgray;
    width: 900px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.new-task {
    border: 1px solid #ffb6c1;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.new-task-input {
    border: 1px solid red;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}

.add-new-task-button {
    border: 1px solid blue;
    width: 100px;
    text-align: center;
    align-self: flex-end;
}

.task-list {
    border: 1px solid lightgreen;
    display: flex;
    flex-direction: column;
}

.task {
    border: 1px solid blue;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.task-description {
    border: 1px solid lightblue;
    font-size: 22px;
    flex: 8;
}

.task-remove {
    border: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
