* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.screen-type:before {
    position: fixed;
    right: 0;
    top: 0;
    color: red;
    content: 'S'; /* Smartphone */
}

.main {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.new-task {
    border: 1px solid #ffb6c1;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.new-task-input {
    border: 1px solid red;
    padding: 15px;
    font-size: 35px;
    flex: 8;
}

.add-new-task-button {
    border: 1px solid blue;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 80px;
}

.add-new-task-button-label {
    display: none;
}

.add-new-task-button-image {
    border: 1px solid #d3d3d3;
    background-image: url("/images/add.png");
    width: 26px;
    height: 26px;
    max-width: inherit;
}

.task-list {
    border: 1px solid lightgreen;
    display: flex;
    flex-direction: column;
}

.task {
    border: 1px solid blue;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    min-height: 100px;
}

.task-description {
    border: 1px solid lightblue;
    font-size: 35px;
    padding: 15px;
    flex: 8;
    display: flex;
    align-items: center;
}

.task-remove-button {
    border: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
}

.task-remove-button-label {
    display: none;
}

.task-remove-button-image {
    border: 1px solid #d3d3d3;
    background-image: url("/images/remove.png");
    width: 26px;
    height: 26px;
    max-width: inherit;
}

@media (orientation:portrait) {
    .screen-type:before {
        content: 'SP'; /* Smartphone Portrait */
    }

    .main{
        width: 960px;
    }

    .new-task {
        min-height: 100px;
    }

    .new-task-input {
        font-size: 55px;
    }

    .task {
        min-height: 200px;
    }

    .task-description {
        font-size: 55px;
    }

    .add-new-task-button {
        min-width: 150px;
    }

    .task-remove-button {
        min-width: 150px;
    }
}
