* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.screen-type:before {
    position: fixed;
    right: 0;
    top: 0;
    color: red;
    content: 'T'; /* Tablet */
}

.main {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.new-task {
    border: 1px solid #ffb6c1;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.new-task-input {
    border: 1px solid red;
    padding: 5px;
    font-size: 24px;
    flex: 6;
}

.add-new-task-button {
    border: 1px solid blue;
    width: 100px;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 120px;
    text-align: center;
}

.add-new-task-button-image {
    border: 1px solid #d3d3d3;
    background-image: url("/images/add.png");
    width: 26px;
    height: 26px;
    max-width: 26px;
    margin: 0 5px;
    flex: 1;
}

.add-new-task-button-label {
    flex: 1;
    font-size: 22px;
}

.task-list {
    border: 1px solid lightgreen;
    display: flex;
    flex-direction: column;
}

.task {
    border: 1px solid blue;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    min-height: 45px;
}

.task-description {
    border: 1px solid lightblue;
    font-size: 24px;
    padding: 5px;
    flex: 6;
    display: flex;
    align-items: center;
}

.task-remove-button {
    border: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    flex-direction: row;
    text-align: center;
}

.task-remove-button-image {
    border: 1px solid #d3d3d3;
    background-image: url("/images/remove.png");
    width: 26px;
    height: 26px;
    max-width: 26px;
    margin: 0 5px;
    flex: 1;
}

.task-remove-button-label {
    flex: 1;
    font-size: 22px;
}
