<!DOCTYPE html>
<html>
<head>
    <title>TDL</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script language="javascript" type="text/javascript" src="client.js"></script>
</head>
<body>
<div class="main">
    <div class="new-task clearfix">
        <div id="tbNewTask" contenteditable="true" class="new-task-input"></div>
        <div id="btnAddNewTask" class="add-new-task-button">
            add
        </div>
    </div>

    <div id="cntTaskList" class="task-list">
        <div style="display: none">
            <div id="tmpTask" class="task clearfix"> <!-- This container is going to be a task template. -->
                <div class="task-description">
                    <!--task description-->
                </div>
                <div class="task-remove">
                    remove
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>