<!DOCTYPE html>
<html>
<head>
    <title>TDL</title>

    <!-- CSS media queries -->
    <!-- First rule in each link defines target device, second - desktop in different sizing. -->

    <!-- Smartphone styles: -->
    <link rel="stylesheet" media="(max-device-width: 900px),
                                  (min-device-width: 1000px) and (max-width: 900px)"
          type="text/css" href="styles-smart.css">

    <!-- Tablet styles: -->
    <link rel="stylesheet" media="(min-device-width: 900px) and (max-device-width: 1000px),
                                  (min-device-width: 1000px) and (min-width: 900px) and (max-width: 1000px)"
          type="text/css" href="styles-tablet.css">

    <!-- Desktop styles: -->
    <link rel="stylesheet" media="(min-device-width: 1000px) and (min-width: 1000px)"
          type="text/css" href="styles.css">

    <script language="javascript" type="text/javascript" src="client.js"></script>
</head>
<body>
<div class="main">
    <div class="new-task">
        <div id="tbNewTask" contenteditable="true" class="new-task-input"></div>
        <div id="btnAddNewTask" class="add-new-task-button">
            add
        </div>
    </div>

    <div id="cntTaskList" class="task-list">
        <div style="display: none">
            <div id="tmpTask" class="task"> <!-- Task container template. -->
                <div class="task-description">
                    <!--task description-->
                </div>
                <div class="task-remove">
                    remove
                </div>
            </div>
        </div>
    </div>

</div>

<div class="screen-type"></div>
</body>
</html>